html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: "Roboto", sans-serif
  
}

* {
  box-sizing: border-box;
}
/*шапка*/
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  height: 76px;
}

.header {
  
  border-bottom: 1px solid #dfdbe9;
  height: 76px;
}

.header__body {
  display: flex;
  height: 76px;
}

.header-logo {
  flex-grow: 1;
  margin-top: 17px;
  align-items: center;
}

.header-logo__main-title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "OpenSans", sans-serif;
  color: rgb(0, 174, 239);
  font-weight: bold;
  line-height: 1;
  transform: scaleY(0.7);
  letter-spacing: 0.05em;
  text-decoration: none;
}

.header-logo__main-title  a:link {
  color: inherit;
  text-decoration: none;
}

.header-logo__main-title  a:visited {
  color: inherit;
  text-decoration: none;
}

.header-logo__main-title  a:hover {
  text-decoration: none;
}

.header-logo__subtitle {
  font: 11px/1 "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: none;
  margin-top: 1px;

}
/*меню*/
.header-menu {
  width: 37.98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  margin: 3px 38px 0 0;
}

.header-menu__item {
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color:inherit;
}

.header-menu__item  a {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}

.header-menu__item  a:visited {
  color: inherit;
}
.header-menu__item  a:hover {
  text-decoration: underline;
}
.blue-button {
  border-color: rgb(0, 174, 239);
  border-radius: 4px;
  cursor: pointer;
  border-style:none;
  background-color: rgb(0, 174, 239);
  width: 132px;
  height: 33px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 2px;
  margin-right: -4px;
}

.blue-button:hover {
  border-style: solid;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 109, 150);
}

.header-contacts {
  padding-left: 20px;
}

.header-contacts__phone-text {
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 255);
  text-align: left;
  margin: 3px 20px 0 0;
}

.header-contacts__phone {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu__button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  top: px;
  height: 70px;
  text-align: left;
  background-color: rgb(255, 255, 255);  
}

.header-menu__item:hover .header-menu__button {
  text-decoration: underline;
}

/*выпадающее меню*/
  
.header-menu__Production-list {
  display: none;
  background-color: rgb(255, 255, 255);
  width: 480px;
  height: 300px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 16%);
  position: absolute;
  margin: -4px 0 0 4px;
  padding-top: 6px;
  z-index: 10;
}

.header-menu__production-list-item {
  padding: 31px 0px 0px 34px;
  z-index: 10;
}

.header-menu__production-list-item a {
  
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.0;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  z-index: 11;  
}

.header-menu__item:hover .header-menu__Production-list {
  display: block;
}

.header-menu__production-list-item a:hover {
  text-decoration: underline;
}

/*треугольник с тенью*/
.header-menu__Production-list::before {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 16%);
}
.header-menu__Production-list::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255);
  transform: rotate(45deg); 
  top: -5px;
  left: 40px;
  box-shadow: -3px -3px 5px -2px rgb(0 0 0 / 16%);
}
 
/*слайдер*/
.section-wrapper{
  height: 465px;
}

.slider-header {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 465px;
}

.slider-header img {
  object-fit: cover; 
  margin: 0 auto;
  width: 100%;
  height: 465px;
}
/* Кнопки назад и вперёд: */
.swiper-button-prev  {
  cursor: pointer;
  position: absolute;
  color: rgb(0 0 0 / 0%);
  top: 50%;
  width: 22px;
  height: 40px;
  margin: -13px 0 0% 21px;
  background-image: url(images/ArrowLeftBlue.png);
  background-repeat: no-repeat;
  z-index: 6;
}
.swiper-button-next {
   cursor: pointer;
   right: 0;
   position: absolute;
   color: rgb(0 0 0 / 0%);
   top: 50%;
   width: 22px;
   height: 40px;
   margin: -13px 30px 0% 0px;
   background-image: url(images/ArrowRightBlue.png);
   background-repeat: no-repeat;
   z-index: 6;
}

.swiper-button-prev:active{
  background-image: url(images/ArrowLeftRed.png);  
  background-repeat: no-repeat;
}

.swiper-button-next:active {
  background-image: url(images/ArrowRightRed.png);
  background-repeat: no-repeat;  
}

/*пагинация*/
.swiper-pagination {
  flex: 0 0 109.5px;
  display: flex;
  justify-content: left;
  
  padding: 0px 0px 30px 128px;
  
}

.swiper-pagination-bullet{
  width: 14px;
  height: 14px;
  margin: 0 5.5px; 
  background-color: rgb(185 185 185/0%);
  border: 1px solid rgb(185 185 185);
}

.swiper-pagination-bullet-active {
  background-color: rgb(210, 210, 210);
}

.swiper__content-wrapper{
  max-width: 1200px;
  position: relative;
  margin: auto;
  height: 465px;
  top: -470px;
}

/*текст в слайдере*/
.swiper__text-background{
  background-color: rgba(255, 255, 255, 0.831);
  position: absolute;
  top: 50%;
  margin: -108px 0px 0px 0px;
  left: 60px;
  width: 591px;
  height: 219px;
  z-index: 5;
}

.swiper__text-header{
  font-size: 28.6px;
  font-family: "Roboto";
  color: rgb(0, 1, 37);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 64px;
  top: 33px;
  width: 497px;
  letter-spacing: 0.002em;
  z-index: 109;
}

.swiper__text {
  font-size: 20px;
  font-family: "Roboto";
  color: rgb(0, 8, 0);
  line-height: 1.5;
  text-align: justify;
  position: absolute;
  left: 65px;
  top: 84px;
  width: 497px;
  height: 106px;
  z-index: 110;
}

/*продукция*/
.company-production {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  height: 1000px;
  margin:  0 auto;
  padding: 0 1px;
}

.company-production__text-content1 {
  width: 100%;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  padding: 88px 0 50px 0;
}

.company-production__text-content2 {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  text-indent: 20px;
  width: 100%;
  margin-top: -5px;
}

.company-production__text-content3 {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  padding: 90px 0 50px 0;
}

.company-production__conteiner{
 display: flex;
 justify-content: space-between;  
 
}

.company-production__text {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  height: 43px;
  margin: 15px 0 0px 0;
  font-size: 20px;
  line-height: 1.2;
}

.company-production__text-content{
  text-align: center;
  width: 100%;
}

.company-production__item1 {
  background-image: url("images/sam_pod.jpg");
  width: 368px;
  height: 168px;
  margin: 1px 18px 30px 0; 
}

.company-production__rectangle1 {
  border-width: 0.417px;
  border-color: rgb(74, 74, 74);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  position: relative;  
  top: 147px;
  width: 368px;
  height: 112px;
}

.ContentButton {
  border-radius: 4px;
  background-color: rgb(0, 174, 239);
  cursor: pointer;
  outline: none;
  border-style:none;
  border-color: rgb(0, 174, 239);
  border-radius: 4px;
  position: relative;
  left: 104px;
  margin-top: 4px;
  width: 158px;
  height: 34px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

.ContentButton:hover {
  border-style: solid;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 109, 150);
}

.company-production__item2 {
  background-image: url("images/magnetic.jpg");
  position: relative;
  width: 368px;
  height: 168px;
  margin: 1px 18px 30px 0; 
}
 
.company-production__rectangle3 {
  background-color: rgba(0, 0, 0, 0.502);
  position: relative;
  width: 368px;
  height: 262px;
  margin-left: -1px;
  
  z-index: 1;
}

.company-production__item3 {
  background-image: url("images/innovation.jpg");
  position: relative;
  width: 368px;
  height: 261px;
  margin: 1px 18px 30px 0; 
 }

.company-production__rectangle-innovation {
  background-color: rgb(117, 76, 36);
  position: relative;
  margin-left: 228px;
  width: 140px;
  height: 37px;
  z-index: 0;
}

.company-production__text-innovation {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 1.2;
  
  text-align: center;
  position: relative;
  display: flex;
}

.company-production__text-innovation-content{
  text-align: center;
  width: 100%;
  padding-top: 7.7px;
  margin: 2px 0px 0 -2px;
}

.company-production__rectangle3 .company-production__text {
  color: rgb(255, 255, 255);
  margin-top: 83px;
  height: 71px;;
}
.company-production__rectangle3 .ContentButton {
  
  left: 102px;
  margin-top: 18px;
}



.company-production__item4 {
  background-image: url("images/Details.jpg.jpg");
  position: relative;
  margin: 0 18px 0 0;
  width: 755px;
  height: 258px;
}

.company-production__rectangle4 .company-production__rectangle-innovation {
  background-color: rgb(180, 138, 10);
  position: relative;
  width: 246px;
  margin: 0;
  top: 24px;
}

.company-production__rectangle4 {
  background-color: rgba(0, 0, 0, 0.502);
  position: relative;  
  width: 755px;
  height: 258px;
  margin: -1px 0 0 0;
}

.company-production__rectangle4 .company-production__text {
  color: rgb(255, 255, 255);
  margin-top: 115px;
  height: 43px;
}

.company-production__rectangle4 .ContentButton{
left: 298px;
margin-top: 8px;
}

.company-production__item5 {
  background-image: url("images/Steel.jpg");
  position: relative;
  width: 368px;
  height: 168px;
  margin: 0 0 0 -2px; 
}
.company-production__item5 .company-production__rectangle1 {
  margin-top: -4px;
}

.company-production__item5 .ContentButton {
  margin: -1px 0px 0 -1px;
}


/*преимущества*/
.advantages {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 438px;
  margin: 0 auto;
  margin-top: 8px;
}

.advantages__wrapper {
  align-items: center;
  width: 100%;
  height: 130px;
}

 .advantages__header {
  margin-top: 77px;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.advanteges__content{
  width: 1200px;
  padding-bottom: 120px;
}

.advanteges__item{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 24.5%;
  align-items: center;  
}

.advanteges__content-conteiner{
  height: 110px;
  width: 100%;
  text-align: center;
}

.advanteges__text{
  display: inline-block;
  font-size: 16px; 
  height: 70px;
}

/*Заказчики*/
.section-wrapper2 {
  background-color: rgb(249, 249, 249);
  width: 100%;
  height: 375px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 30px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  text-align: center; 
}

.partners__header {
  width: 100%;
  height: 150px;
  padding-top: 52px;
}

/*второй слайдер*/
.slider-partners{
  display: flex;
  max-width: 1030px;
  height: 124px;
  margin-bottom: 101px;
}

.slider-partners .swiper-wrapper {
  display: flex;
  width: 1030px;
  height: 124px;
  position: relative;
}

.slider-partners .swiper-slide{
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 143px;
}

/*навигация во втором слайдере*/
.slider-partners__navigation{
  width: 1140px;
  height: 124px;
  margin: 0 auto;
  margin-top: -225px;
}

.slider-partners-button-prev  {
  cursor: pointer;
  color: rgb(0 0 0 / 0%);
  width: 22px;
  height: 40px;
  margin: 40px 0 0% 0;
  background-image: url(images/ArrowLeftBlue.png);
  background-repeat: no-repeat;
  z-index: 6;
}

.slider-partners-button-next {  
  cursor: pointer;
  position: absolute;  
  color: rgb(0 0 0 / 0%);
  width: 22px;
  height: 40px;
  margin: 41px 0 0 1118px;
  background-image: url(images/ArrowRightBlue.png);
  background-repeat: no-repeat;
  z-index: 6;
}

.slider-partners-button-prev:active{
  background-image: url(images/ArrowLeftRed.png);  
  background-repeat: no-repeat;
}

.slider-partners-button-next:active {
  background-image: url(images/ArrowRightRed.png);
  background-repeat: no-repeat;  
}

.PartnerIconKamaz {
  display: inline-block;
  background-image: url("images/KamazBW.jpg");
  cursor: pointer;
  width: 70px;
  height: 93px;
  margin-top: 15.5px;
}
.PartnerIconKamaz:hover {
  background-image: url("images/Kamaz.jpg.jpg")
}  

.PartnerIconURGTU {
  display: inline-block;
  background-image: url("images/URGTUBW.jpg");
  cursor: pointer;
  width: 85px;
  height: 91px;
  margin-top: 16.5px;
}
.PartnerIconURGTU:hover {
  background-image: url("images/URGTU.jpg");
}

.PartnerIconKlever {
  display: inline-block;
  background-image: url("images/kleverBW.jpg");
  cursor: pointer;
  width: 131px;
  height: 45px;
  margin-top: 30px;
}
.PartnerIconKlever:hover {
  background-image: url("images/klever.jpg");
}

.PartnerIconE {
  display: inline-block;
  background-image: url("images/EBW.jpg");
  cursor: pointer;
  width: 89px;
  height: 80px;
  margin-top: 22px;
}
.PartnerIconE:hover {
  background-image: url("images/E.jpg");  
} 

.PartnerIconKizlyar {
  display: inline-block;
  background-image: url("images/KizlyarBW.jpg");
  cursor: pointer;
  width: 96px;
  height: 96px;
  margin-top: 14px;
}
.PartnerIconKizlyar:hover {
  background-image: url("images/Kizlyar.jpg");
}

.PartnerIconNefazBW {
  display: inline-block;
  background-image: url("images/Nefaz.jpg");
  width: 120px;
  height: 26px;
  margin-top: 49px;
}

  
  

/*подвал*/
.footer {
  background-color: rgb(227, 227, 227);
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  width: 100%;
  height: 180px;
  margin-top: -2px;
  
}

.footer__conteiner {
  display: flex;
 flex-wrap: nowrap;
 width: 1140px;
 margin: 0 auto;
 padding: 53px 0 0 33px;
}

.footer__content-conteiner{
  display: flex;
  flex-wrap: wrap;
  width: 795px;
  text-align: left;
}

.footer__logo-conteiner{
  flex-grow: 1;
}
.footer__logo-conteiner .header-logo__main-title{
  margin-top: -2px;
}
.footer__logo-conteiner .header-logo__subtitle{
  margin-top: 5px;
}

.footer__content-block1{
  width: 338px;
  margin: 0 0 0 -10px;
  padding-left: 12px;
}
.footer__content-block1 .footer__content-item{
  margin-bottom: 18px;
}

.footer__content-block2{
  width: 263px;
}
.footer__content-block2 .footer__content-item{
  margin: -4px 0 17px 0;
}

.footer__content-block3{
  width: 204px;
}
.footer__content-block3 .footer__content-item{
  margin: -4px 0 17px 0;
}

.footer__content-item {
  margin-bottom: 10px; 
}

.footer__content-item a {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.footer__content-item a:link {
  color: inherit;
  text-decoration: none;
}

.footer__content-item a  a:visited {
  color: inherit;
  text-decoration: none;
}

.footer__content-item a:hover {
  color: inherit;
  text-decoration: underline;
}

.footer__bottom-conteiner {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  height: 24px;
}

.footer__bottom-conteiner__confediciality{
  font-size: 11px;
  text-transform: none;
  padding: 8px 0 0 6px;
  width: 204px;
}

.footer__bottom-conteiner__socials {
  flex-grow: 1;
  padding-left: 34px;
  margin-top: -5px;
  height: 24px;
}

.footer__bottom-conteiner__socials a{
  cursor: pointer;
  background-image: url(images/icons.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin-left: 2px;
  display: inline-block;
}

a.facebook {
  background-position: 0px;
}
a.VK { 
  background-position: -31px;
}
a.OK {
  background-position: -61px;
}
a.Youtube {
  background-position: -91px;
}
a.instagram {
  background-position: -122px;
}
a.facebook:hover {
  background-image: url(images/IconsActive.png); 
}
a.VK:hover {
  background-image: url(images/IconsActive.png); 
}
a.OK:hover {
  background-image: url(images/IconsActive.png); 
}
a.Youtube:hover {
  background-image: url(images/IconsActive.png); 
}
a.instagram:hover {
  background-image: url(images/IconsActive.png); 
}  